name: Update SVG

on:
  schedule:
  
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: update-svg
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install
        run: npm install --no-audit --no-fund

      - name: Generate SVG
        env:
          LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
          LASTFM_USER: ${{ secrets.LASTFM_USER }}
        run: npm run build

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add now-playing.svg

          # nothing changed? stop.
          git diff --cached --quiet && echo "No changes." && exit 0

          git commit -m "Update now-playing.svg"

          # pull remote changes first (fixes 'fetch first')
          git pull --rebase origin main

          # now push
          git push origin main
